h1 {
        background-color: green;
        color: white;
        font-size: 100px;
        text-shadow: 20px 50px 50px red;
        opacity: 1;
        text-align: center;
        padding: 104px; 
        border-radius: 20%;



}


i {
    color: blue;
    background-color: red;
    font-size: 150px;
  }